@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  background-color: black;
  font-family: 'Didact Gothic', sans-serif;
  color: #fff;
}

.container {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
};

.btn-film {
    color: whitesmoke;
    background-color: #C03927;
}

.btn-person {
    color: black;
    background-color: #F2EC57;
}