@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  background-color: black;
  font-family: 'Didact Gothic', sans-serif;
  color: #fff;
}

.App {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.poster {
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel-indicators{
  margin-top: 10px;;
}






